nav{
    Font-size: 20px;
    }
    img{
      height:200px;
    }
   body{
    background-color:gray;
   }
div{
  margin:30px;
  background-color:lightskyblue
  padding:20px;
}
a:link{
  color:teal;
  background-color:slategray;
}
 a:visited{
   color:navy;
   background-color:teal;
 }
  a:hover{
    color:lightskyblue;
    background-color:navy;
    font-size:20px;
  }
